/* Begin common */

body {
    background-color: #FFF;
    color: #444;
    font-family: "Droid Serif", Georgia, "Times New Roman", STHeiti, serif;
    font-size: 14px;
}

blockquote {
    margin: 1em 0em;
    padding-left: 1.5em;
    border-left: 4px solid #F3F3F0;
}

h1,
h2,
h3 {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
textarea {
    padding: 5px;
    border: 1px solid #cecece;
    width: 100%;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

textarea {
    resize: vertical;
}

.hidden {
    display: none!important;
    visibility: hidden;
}

.invisible {
    visibility: hidden;
}

a {
    color: #3354AA;
    text-decoration: none;
    border-bottom: 1px solid #EEE;
}

a:hover,
 :active {
    border-bottom-color: transparent;
    color: #d4d4d4;
}


/* Begin header */

#header {
    padding-top: 35px;
    border-bottom: 1px solid #cecece;
}

#logo {
    color: #333;
    font-size: 2.5em;
}

.description {
    margin: .5em 0 0;
    color: #999;
    font-style: italic;
}

#nav-menu {
    margin: 25px 0 0;
    padding: 0;
}

#nav-menu a {
    display: block;
    padding: 0 20px;
    border: 1px solid #cecece;
    border-right: none;
    border-bottom: none;
    height: 32px;
    line-height: 32px;
    color: #444;
    float: left;
}

#nav-menu a:last-child {
    border-right: 1px solid #cec3c3;
}

#nav-menu a:hover,
#nav-menu .current {
    background: #F6F6F6;
}

#search {
    position: relative;
    margin-top: 15px;
}

#search input {
    padding-right: 30px;
}

#search button {
    position: absolute;
    right: 4px;
    top: 2px;
    border: none;
    padding: 0;
    width: 24px;
    height: 24px;
    background: transparent url(../img/icon-search.png) no-repeat center center;
    direction: ltr;
    text-indent: -9999em;
}

.sr-only {
    border: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.sr-only.focusable:active,
.sr-only.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}


/* Begin post */

.post {
    padding: 15px 0 20px;
    border-bottom: 1px solid #EEE;
}

.post-title {
    margin: .83em 0;
    font-size: 1.4em;
}

.post-meta {
    margin-top: -0.5em;
    padding: 0;
    color: #999;
    font-size: .92857em;
}

.post-meta li {
    display: inline;
    margin: 0 8px 0 0;
    padding-left: 12px;
    border-left: 1px solid #EEE;
}

.post-meta li:first-child {
    margin-left: 0;
    padding-left: 0;
    border: none;
}

.post-content {
    line-height: 1.5;
    word-wrap: break-word;
}

.post-content h2 {
    font-size: 1.28571em;
}

.post-content img,
.post-content video {
    max-width: 100%;
}

.post-content a img {
    background: #FFF;
    position: relative;
    bottom: -4px;
}

.post-content hr {
    margin: 2em auto;
    width: 100px;
    border: 1px solid #E9E9E9;
    border-width: 2px 0 0 0;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.alignleft {
    float: left;
}

.alignright {
    float: right;
}

img.alignleft {
    margin: 0 15px 0 0;
}

img.alignright {
    margin: 0 0 0 15px;
}

.post .tags {
    clear: both;
}

.archive-title {
    margin: 1em 0 -1em;
    padding-top: 20px;
    color: #999;
    font-size: 1em;
}

.more {
    text-align: right;
}

.more a {
    border: none;
}

/* Begin pagination */

.page-navigator {
    list-style: none;
    margin: 25px 0;
    padding: 0;
    text-align: center;
}

.page-navigator li {
    display: inline-block;
    margin: 0 4px;
}

.page-navigator .current button {
    color: red;
}

/* Begin footer*/

#footer {
    padding: 3em 0;
    line-height: 1.5;
    text-align: center;
    color: #999;
}


/* Begin bootsrap */

@media(max-width:767px) {
    body {
        font-size: 81.25%;
    }
    #nav-menu a {
        float: none;
        border: 1px solid #cecece;
        border-bottom: none;
    }
}

@media(max-width:768px) {
    #header,
    .post-title,
    .post-meta {
        text-align: center;
    }
}

@media(min-width:1200px) {
    .container {
        max-width: 952px;
    }
}
